<h1>Sign Up!</h1>

<%= form_tag "/users", method: :post do %>
  <div>
    Name: <input type="text" name="name">
  </div>
  <br>
  <div>
    Email: <input type="email" name="email">
  </div>
  <br>
  <div>
    Password: <input type="password" name="password">
  </div>
  <br>
  <div>
    Confirm Password: <input type="password" name="Password_confirmation">
  </div>
  <br>
  <input type="submit" name="Submit">
    <% end %>