body {
  font-family: 'Slabo 27px', serif;
  background-image: url('cork-wallet.png');
  padding: 10px;
  margin: 10px;
}

.size{
  width: 350px
}

.show{
  width: 400px
}
.img{
  width: 200px
}

.model-errors {
  color: red;
}