<table>
  <tr>

  <th>
    <h2><% name %></h2>
    <h2><% price %></h2>
    <h2><% discount %></h2>
  </th>
   <td>
   <h2><%= @products.name %></h2>
   <h2><%= @products.price %></h2>
   <h2><%= @products.discount %></h2>
   </td>
  </tr>

</table>





